<div class="header">
    <img src="assets/images/login.jpeg" alt="" style="width: 65px; height: 70px; margin-left: 20px;">
    &nbsp;&nbsp;&nbsp;
    <b><a routerLink="/loginForm">Login/</a></b>
    <b><a routerLink="/register">Register</a></b>
</div>
<div class="cover">
<div class="text">
<legend style="font-size: 70px;;"><b>The Community</b></legend>
<br>
Find Solution.Ask Questions.Share ideas.
<br>
Connect with users accross the world
</div>
<div class="stats">
    {{numberOfUsers}} 
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    {{numberOfProducts}} 
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    {{numberOfReviews}} 
    <br>
    <b style="font-size: 25px;">Registered Users</b>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; 
    <b style="font-size: 25px;">Products</b>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b  style="font-size: 25px;">Reviews</b>
</div>
</div>
