.cover{
    background-image: url(https://wallpapercave.com/wp/wp2104009.jpg);
    background-size:cover;
    height: 590px;
}
#form{
    color: white;
    padding-left: 270px;
    padding-top: 50px;
}
.buttons{
      padding-left: 300px;
 }
 .email{
     color: red;
     font-size: 20px;
     padding-left: 270px;
 }
 .fname{
    color: red;
    font-size: 20px;
}
.lname{
    color: red;
    font-size: 20px;
    padding-left: 450px;
}
